# =============== #
# Unity generated #
# =============== #
Temp/
Library/
ProjectSettings/
Packages/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.meta
Furniture/.vs/Furniture/v15/Server/sqlite3/db.lock
Furniture/.vs/Furniture/v15/Server/sqlite3/storage.ide
Furniture/.vs/Furniture/v15/Server/sqlite3/storage.ide-shm
Furniture/.vs/Furniture/v15/Server/sqlite3/storage.ide-wal
